{% extends "base.html" %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Nillu</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('entry', date='yesterday') }}">Yesterday</a></li>
            <li><a href="{{ url_for('entry', date='today') }}">Today</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Logout</a></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


    </div> <!-- /container -->

    <div class="container">
        {% for date in date_order %}
        <h3>{{ date }}</h3>
            {% for user in user_order %}
            <h4>{{ user }}</h4>
            <div class="row">
                <div class="col-md-4 header">Done</div>
                <div class="col-md-4 header">Todo</div>
                <div class="col-md-4 header">Blocking</div>
            </div>
            <div class="row">
            {% for entry in result[date][user] %}
                <div class="col-md-4">{{ entry.text|nl2br }}</div>
            {% endfor %}
            </div>
            {% endfor %}
        {% endfor %}
    </div> <!-- /container -->
{% endblock %}