{% extends "entry_base.html" %}

{% block container %}
        <form action="{{ url_for('entry', date=date) }}" method="post">
        <h3>{{ date_obj }}</h3>
            {% for user in users %}
            <h4>{{ user.name }}</h4>
            <div class="row">
            {% for entry_type in entry_types %}
                <div class="col-md-4">{{ entry_type|capitalize }}: <br/><textarea name="{{ user.id }}_{{ entry_type }}" rows="4" cols="50"></textarea></div>
            {% endfor %}
            </div>
            {% endfor %}
        <button class="btn btn-primary" type="submit">Save</button>
        </form>
{% endblock %}