{% extends "entry_base.html" %}

{% block container %}
        <form action="{{ url_for('entry', date=date) }}" method="post">
        <h3>{{ date_obj }}</h3>
            {% for user in users %}
            <h4>{{ user.name }}</h4>
            <div class="row entry-row">
            {% for entry_type in entry_types %}
                <div class="col-md-4 form-group">
                    <label for="{{ user.id }}_{{ entry_type }}">{{ entry_type|capitalize }}</label>
                    <textarea class="form-control" name="{{ user.id }}_{{ entry_type }}" id="{{ user.id }}_{{ entry_type }}" rows="4" cols="50">{% if edit %}{{ user_entry.get(user.name, {}).get(entry_type, {}).text }}{% endif %}</textarea>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
        <input type="hidden" name="edit" value="{{ edit }}" />
        </form>
{% endblock %}