{% extends "entry_base.html" %}

{% block container %}
        <form action="{{ url_for('entry', date=date) }}" method="post">
        <h3>{{ date_obj }}</h3>
            {% for user in users %}
            <h4>{{ user.name }}</h4>
            <div class="row">
            {% for entry_type in entry_types %}
                {% set ta_id = user.id_entry_type %}
                <div class="col-md-4 form-group">
                    <label for="{{ ta_id }}">{{ entry_type|capitalize }}</label>
                    <textarea class="form-control" name="{{ ta_id }}" id="{{ ta_id }}" rows="4" cols="50"></textarea>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
        <button class="btn btn-primary" type="submit">Save</button>
        </form>
{% endblock %}