body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.entry-row {
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.header {
    text-align: center;
    font-weight: 600;
}


.form-useradd {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.user-info {
  max-width: 640px;
  padding: 15px;
  margin: 0 auto;
}